<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block breadcrumb %}{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
